<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>App</strong> by <a target="_blank" href="https://www.linkedin.com/in/rodrigo-campero">Rodrigo Campero <i class="fab fa-linkedin"></i></a>.
      The source code is licensed
      <a  target="_blank" href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
    <p>
      <strong>The source code: </strong> <a href="https://github.com/rodrigo-campero/test-angular-demo-app" target="_blank">test-angular-demo-app <i class="fab fa-github"></i></a>
    </p>
  </div>
</footer>